@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html{
    font-size: 4px;
}

*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #FFF2CC;
}

.content{
    margin: 0 17rem;
    max-width: 100%;
}


/* Header */

.header{
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#camp{
    color: #2400FF;
}

#us{
    color: #FFBF00;
}


.header p{
    font-size: 5rem;
    font-weight: bold;
}

button{
    padding: 3rem 5rem;
    font-size: 3.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    border-width: 0.5rem;
    border-style: solid;
    margin: 0 2rem;
}

#register{
    border-color: #FFBF00;
    color: #332600;
    background-color: #FFF2CC;
}

#upload{
    border-color: #2400FF;
    color: #D3CCFF;
    background-color: #2400FF;
}

#register:hover{
    background-color: #ffeaaa;
    border: 0.5rem solid #332600;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#upload:hover{
    background-color: #6d55ff;
    color: #070033;
    border: 0.5rem solid #070033;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Hero section */

.main h1{
    margin-top: 10rem;
    font-size: 18rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

#small-text{
    color: #332600;
    font-size: 7rem;
    font-weight: bold;
    margin: -20px auto 0;
}

input[type="search"]{
    background-color: #f4f4f4;
    color: #332600;
    padding: 4.5rem 8rem;
    font-size: 4rem;
    border-radius: 10rem;
    border: 0.25rem solid #332600;
    width: 40vw;
    margin: 20px auto;
}

#search{
    padding: 16px 20px;
    font-size: 3.5rem;
    font-weight: 500;
    margin-left: -1.5rem;
    border-radius: 10rem;
    background-color: #FFBF00;
    color: #332600;
    border: 0.25rem solid #332600;
}

#search:hover{
    background-color: #ffdf80;
    border-width: 0.4rem;
    transform: scale(1.01);
}

/* Recently added Materials */

h2{
    color: #332600;
    font-size: 7rem;
    font-weight: bold;
}

.materials-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 10rem;
}

.material-details{
    margin: 2px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p{
    font-size: 4.5rem;
}

.course-code{
    width: 30%;
}

.description{
    width: 10%;
}

/* Filtering by Level */

.levels-container{
    margin-top: 15rem;
}

.level-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.level-card{
    width: 35vw;
    padding: 9rem 15rem;
    background-color: #D3CCFF;
    border: 0.75rem solid #070033;
    color: #070033;
    border-radius: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    font-weight: 500;
}

.level-card:hover{
    background-color: #9280FF;
}


/* Subjects */

.subjects-container{
    margin-top: 15rem;
}

.subjects-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.subjects-cards a{
    text-decoration: none;
}

.s-card{
    width: 20.5vw;
    padding: 5rem 15rem;
    background-color: #ffca2a;
    border: 0.5rem solid #332600;
    color: #332600;
    border-radius: 3rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: 400;
}

.s-card:hover{
    background-color: #ffdf80;
    transform: scale(1.05);
    font-weight: 600;
}


/* Upload button */

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 13rem 0;
}

#button1-2{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    text-decoration: none;
}

.upload{
    padding: 4rem 8rem;
    font-size: 4.5rem;
    border-radius: 2.5rem;
    background-color: #2400FF;
    color: #D3CCFF;
    border: 0.5rem solid #2400FF;
}

.upload:hover{
    background-color: #6d55ff;
    color: #070033;
    border: 0.5rem solid #070033;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Register button */

.register{
    padding: 4rem 8rem;
    font-size: 4.5rem;
    border-radius: 2.5rem;
    background-color: #FFF2CC;
    color: #332600;
    border: 0.5rem solid #FFBF00;
}

.register:hover{
    background-color: #ffeaaa;
    border: 0.5rem solid #332600;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

a{
    text-decoration: none;
}

@media (max-width: 768px) {
    *{
        box-sizing: border-box;
    }

    .content{
        margin: 4rem 0;
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 3rem;
        margin: 0;
    }

    .header p{
        display: none;
    }

    .auth-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 3rem;
    }

    #register{
        display: none;
    }

    #upload{
        color: #D3CCFF;
        border-color: #D3CCFF;
        background-color: #2400FF;
    }

    #upload:hover{
        border-width: 0.25rem;
        background-color: #6d55ff;
    }

    button{
        padding: 1.5rem 2rem;
        font-size: 2.5rem;
        border-radius: 1rem;
        margin: 0 1rem;
        border-width: 0.25rem;
        white-space: nowrap;
    }

    .main{
        margin: 6rem 2rem;
    }

    .main h1{
        font-size: 6.5rem;
        margin: 0 auto;
    }

    #small-text{
        font-size: 3rem;
        margin-top: 1px;
        font-weight: 500;
    }

    .search-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    input[type="search"]{
        padding: 3rem 4rem;
        font-size: 3rem;
        border-radius: 8rem;
        width: 70%;
        margin: 0;
        max-height: 10rem;
        border-color: #3c310e;
    }

    #search{
        padding: 2rem 3rem;
        font-size: 2.5rem;
        margin-left: 1rem;
        border-radius: 8rem;
    }

    /* Recently added Materials */
    h2{
        font-size: 4.5rem;
        margin-top: 8rem;
        margin-bottom: 2rem;
    }

    p{
        font-size: 3rem; 
    }

    .material-details{
        margin: 1rem 3rem;
    }

    .course-code{
        display: block;
    }


    /* Filtering by Level */

    .levels-container{
        margin-top: 8rem;
        width: 100%;
        padding: 0;
    }

    .level-cards{
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        width: 100%;
    }

    .level-card{
        display: block;
        width: 100%;
        max-width: none;
        padding: 6rem 4rem;
        margin: 1rem 0;
        font-size: 3.5rem;
        text-align: center;
        border: 0.5rem solid #070033;
    }

    /* Subjects */

    .subjects-container{
        margin-top: 8rem;
        width: 100%;
    }

    .subjects-container h2{
        font-size: 4.5rem;
        margin-bottom: 2rem;
    }

    .subjects-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 100%;
    }

    .s-card{
        display: block;
        width: 100%;
        padding: 4rem 4rem;
        border-radius: 2rem;
        margin: 0.75rem 0;
        font-size: 3rem;
        font-weight: 400;
        border: 0.25rem solid #332600;
        border-radius: 2rem;
    }

    /* Upload button */


    .buttons{
        margin: 8rem 0;
    }

    #button1-2{
        gap: 2rem;
        margin: 0 auto;
    }

    .upload{
        padding: 2.5rem 4rem;
        font-size: 3rem;
        border-radius: 2rem;
        border-width: 0.25rem;
    }

    /* Register button */

    .register{
        padding: 2.5rem 4rem;
        font-size: 3rem;
        border-radius: 2rem;
        border-width: 0.25rem;
    }

    .upload:hover, .register:hover{
        border-width: 0.25rem;
    }
}