@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html{
    font-size: 4px;
}

*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #FFF2CC;
}

.content{
    margin: 0 17rem;
}


/* Header */

.header{
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#camp{
    color: #2400FF;
}

span{
    color: #FFBF00;
}

.header p{
    font-size: 5rem;
    font-weight: bold;
}


/* Main form */

.main{
    margin: 10rem 0;
}

.previous-page{
    text-decoration: none;
    color: #332600;
    font-size: 4rem;
    margin: 3rem 0;
}

.previous-page::before{
    content: '← ';
    position: relative;
    color: #332600;
}

.previous-page:hover{
    color: #2400FF;
}

h2{
    color: #332600;
    font-size: 8rem;
    font-weight: bold;
    margin: 5rem 0 12rem 0;
    text-align: center;
}

.message-container{
    font-size: 4.5rem;
    color: green;
    text-align: center;
    margin-top: -7rem;
    margin-bottom: 6rem;
}

.register-form{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 9rem;
    align-items: center;
    margin-bottom: 6rem;
}

label{
    font-size: 5rem;
    font-weight: 500;
    color: #332600;
}

input, select{
    width: 28vw;
    padding: 2rem 4rem;
    font-size: 4rem;
    border-radius: 2rem;
    border: 0.25rem solid #332600;
    background-color: #f3f5f7;
}

input::-webkit-input-placeholder{
    font-style: italic;
}

/* Register Button */

.button{
    display: flex;
    justify-content: center;
}

#register-btn{
    background-color: #FFBF00;
    color: #332600;
    border: 0.25rem solid #332600;
    font-size: 4rem;
    font-weight: 500;
    margin-top: 5rem;
    padding: 4rem 8rem;
    border-radius: 2rem;
}

#register-btn:hover{
    background-color: #ffeaaa;
    border: 0.5rem solid #332600;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 768px) {
    *{
        box-sizing: border-box;
    }

    .content{
        margin: 4rem 0;
    }

    .header{
        margin: 0;
    }

    .header p{
        font-size: 3rem;
        margin-left: 3rem;
    }

    .main{
        margin: 5rem 0;
    }

    .previous-page{
        font-size: 3rem;
        margin: 1rem 3rem;
    }
    
    h2{
        font-size: 5rem;
        margin: 15rem 0 8rem;
    }

    .question{
        gap: 4rem;
        margin-bottom: 3rem;
    }

    label{
        font-size: 3rem;
    }
    
    input, select{
        width: 50vw;
        padding: 1.5rem 3rem;
        font-size: 3rem;
        border-radius: 1.5rem;
    }

    p{ /* For error messages i.e sorry, no materials */
        font-size: 2rem; 
    }

    /* Register Button */

    #register-btn{
        font-size: 3rem;
        padding: 3rem 6rem;
        border: 0.125rem solid #332600;
    }

    #register-btn:hover{
        border: 0.25rem solid #332600;
    }
}