@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html{
    font-size: 4px;
}

*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #FFF2CC;
}

.content{
    margin: 15rem 17rem;
    max-width: 100%;
}

/* Main content */

.previous-page{
    font-size: 4rem;
    text-decoration: none;
    color: #332600;
    margin: 3rem 0;
}

.previous-page::before{
    content: ' ← ';
    position: relative;
    color: #332600;
}

.previous-page:hover{
    color: #2400FF;
}

input[type="search"]{
    background-color: #f3f5f7;
    color: #332600;
    padding: 4.5rem 8rem;
    font-size: 3.5rem;
    border-radius: 5rem;
    border: 0.25rem solid #332600;
    width: 50vw;
    margin: 5rem 0;
}

h2{
    color: #332600;
    font-size: 7rem;
    font-weight: bold;
}

.search-details{
    margin: 0.5rem;
    padding: 3rem 8rem;
    color: #332600;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
}

.course-code{
    display: block;
    font-size: 4.5rem;
    font-weight: 500;
    width: 100%;
    margin-bottom: 3rem;
}

.material-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

.description{
    width: 40%;
}

a{ /* Download and read */
    color: #2400FF;
    text-decoration: none;
}

a:hover{
    color: red;
}

hr{
    display: block;
    border: 0.25rem solid #554000;
    width: 90vw;
    margin: 4.5rem auto;
}

hr:last-child{
    display: none;
}

p{ /* For error messages i.e sorry, no materials */
    margin: 0.5rem;
    padding: 3rem 8rem;
    color: #332600;
    font-size: 4.5rem;
    font-weight: 400; 
}

@media (max-width: 768px) {
    *{
        box-sizing: border-box;
    }

    .content{
        margin: 6rem 1rem;
    }

    .previous-page{
        font-size: 3rem;
        margin: 0 3rem;
    }

    input[type="search"]{
        width: 93vw;
        margin: 4rem auto;
        border-radius: 5rem;
        padding: 3rem 4rem;
        font-size: 3rem;
    }

    h2{
        font-size: 5rem;
    }

    .search-details{
        padding: 3rem 2rem;
        font-size: 3rem;
    }
    
    .course-code{
        display: block;
        font-size: 3.2rem;
        font-weight: 450;
        width: 100%;
        margin-bottom: 2.5rem;
    }

    .material-details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 0.5rem;
    }

    .description{
        width: 40%;
    }

    .view{
        display: none;
    }

    hr{
        border: 0.125rem solid #554000;
        width: 95%;
        margin: 3rem 1rem;
    }
}