@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html{
    font-size: 4px;
}

*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #FFF2CC;
}

.content{
    margin: 0 17rem;
    max-width: 100%;
}


/* Header */

.header{
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#camp{
    color: #2400FF;
}

span{
    color: #FFBF00;
}

.header p{
    font-size: 5rem;
    font-weight: bold;
}

button{
    padding: 3rem 5rem;
    font-size: 3.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    border-width: 0.5rem;
    border-style: solid;
    margin: 0 2rem;
}

#register{
    border-color: #FFBF00;
    color: #332600;
    background-color: #FFF2CC;
}

#upload{
    border-color: #2400FF;
    color: #D3CCFF;
    background-color: #2400FF;
}

#register:hover{
    background-color: #ffeaaa;
    border: 0.5rem solid #332600;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#upload:hover{
    background-color: #6d55ff;
    border: 0.5rem solid #070033;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* Main content */

.others{
    margin: 10rem 0;
}

.previous-page{
    font-size: 4rem;
    text-decoration: none;
    color: #332600;
    margin: 3rem 0;
}

.previous-page::before{
    content: ' ← ';
    position: relative;
    color: #332600;
}

.previous-page:hover{
    color: #2400FF;
}

h1{
    color: #332600;
    font-size: 10rem;
    font-weight: bold;
    margin-top: 10rem;
}

.courses{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.course-heading{
    font-size: 6rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    padding: 5rem;
}

.course-code{
    width: 10vw;
    text-transform: uppercase;
}

.materials{
    color: #332600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.material-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 3rem 8rem;
    color: #332600;
    font-size: 4.5rem;
    font-weight: 400;
}

.description{
    width: 17vw;
}

p{ /* For error messages i.e sorry, no materials */
    margin: 0.5rem;
    padding: 3rem 8rem;
    color: #332600;
    font-size: 4.5rem;
    font-weight: 400; 
}

.download{
    margin-right: 3vw;
}

a{ /* Download and view */
    color: #2400FF;
    text-decoration: none;
}

a:hover{
    color: red;
}

hr{
    border: 0.25rem solid #554000;
    width: 85vw;
    text-align: center;
    margin: 7rem 0;
}

hr:last-child{
    display: none;
}

@media (max-width: 600px) {
    *{
        box-sizing: border-box;
    }

    .content{
        margin: 4rem 0;
    }

    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        margin: 0;
    }

    .header p{
        font-size: 3rem;
        margin-left: 0;
    }

    .auth-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
    }

    #register:hover, #upload:hover{
        border-width: 0.25rem;
    }

    button{
        padding: 1.5rem 2rem;
        font-size: 2.5rem;
        border-radius: 1rem;
        margin: 0 1rem;
        border-width: 0.25rem;
    }

    .previous-page{
        display: none;
    }

    .others{
        margin: 4rem 2rem;
        width: 100%;
    }
    
    .others h1{
        font-size: 6rem;
        margin-top: 8rem;
        margin-bottom: 2rem;
    }

    .courses{
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        width: 100%;
        padding: 0;
    }

    .course-heading{
        font-size: 3.5rem;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        margin: 1rem 0;
        padding: 0;
    }

    .course-code{
        width: 27%;
        text-transform: uppercase;
    }

    .materials{
        color: #332600;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .material-details{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        font-size: 3rem;
        font-weight: 400;
        margin: 1rem 0;
    }

    .description{
        width: 20%;
    }

    p{ /* For error messages i.e sorry, no materials */
        margin: 0 0.25rem;
        font-size: 3rem;
        font-weight: 400; 
    }

    hr{
        border: 0.125rem solid #554000;
        width: 100%;
        margin: 3rem 0;
    }
}