{% extends "master.html" %}
{% load static %}

{% block title %}
    {{course.course_code}} Materials
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/subject_courses.css' %}">
{% endblock stylesheet %}


{% block content %}
    <div class="content">
        <div class='header'>
            <p id='camp'>Camp<span>US.</span></p>

            <div class='auth-buttons'>
                <a href="{% url 'register' %}"><button id='register'>Register a course</button></a>
                <a href="{% url 'upload' %}"><button id='upload'>Upload a material</button></a>
            </div>
        </div>
        
        <div class="others">

            <a href="{% url 'home' %}" class="previous-page">Previous page</a>

            <h1>{{course.course_code}} Materials</h1>
        
            <div class="materials">
                {% for material in materials %}
                    <div class="material-details">
                        <div class="description">{{material.description}}</div>
                        <div class="year_used">Used in {{material.year_used}}</div>
                        <div class="view">
                            {% if ".pdf" in material.file.name|lower %}
                                <a href="{% url 'preview' material.id %}">Preview</a>
                            {% endif %}
                        </div>
                        <div class="download"><a href="{{ material.file.url }}" download>Download</a></div>
                    </div>
                {% empty %}
                    <p>Sorry, no available material yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}