{% extends "master.html" %}

{% block content %}
    <h2>{{material.title}}</h2>

    <div class="preview-container">
        <object data="{{ material.file.url }}" type="application/pdf" width="80%" height="650">
            <iframe src="{{ material.file.url }}" width="80%" height="650" style="border: none;">
                This browser does not support PDFs. Please download the PDF to view it: <a href="{{ material.file.url }}">Download PDF</a>
            </iframe>
            <p>Preview unavailable. You can <a href="{{ material.file.url }}" target="_blank" rel="noopener">open in a new tab</a> or <a href="{{ material.file.url }}" download>download</a>.</p>
        </object>
        <p><small>File URL: <a href="{{ material.file.url }}" target="_blank" rel="noopener">{{ material.file.url }}</a></small></p>
    </div>
{% endblock content %}